<div class="project_load_following">
    <h2><%= @project %></h2>
    <div class="autoscroll">
        <table class="list load_following">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Sujet
                    </th>
                    <th>
                        Budget retenu
                    </th>
                    <th>
                        Charge initiale
                    </th>
                    <th>
                        Consommé cumulé à fin de sem-1
                    </th>
                    <th>
                        Consommé sur sem
                    </th>
                    <th>
                        Consommé cumulé à fin de sem
                    </th>
                    <th>
                        RAF à sem-1
                    </th>
                    <th>
                        RAF à fin de sem
                    </th>
                    <th>
                        Écart cumulé à fin sem-1
                    </th>
                    <th>
                        Écart cumulé à fin sem
                    </th>
                    <th>
                        Écart sur sem
                    </th>
                    <th>
                        % avancement global à fin sem
                    </th>
                </tr>
            </thead>
            <tbody>
                <% issue_list(@rows) do |row, level| -%>
                <% if row.is_a? Issue %>
                  <%= render 'row_issue', row: row, level: level %>
                <% else %>
                  <%= render 'row_project', row: row, level: level %>
                <% end %>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <td class="id"></td>
                    <td class="subject">Totaux</td>
                    <td class="sold_hours">
                        <%= "%.2f" % @project.sold_hours unless @project.sold_hours.nil? %>
                    </td>
                    <td class="estimated_hours">
                        <%= "%.2f" % @project.estimated_hours unless @project.estimated_hours.nil? %>
                    </td>
                    <td class="spent_hours_previous_week">
                        <%= "%.2f" % @project.spent_hours_previous_week unless @project.spent_hours_previous_week.nil? %>
                    </td>
                    <td class="spent_hours_current_week">
                        <%= "%.2f" % @project.spent_hours_current_week unless @project.spent_hours_current_week.nil? %>
                    </td>
                    <td class="total_spent_hours">
                        <%= "%.2f" % @project.spent_hours unless @project.spent_hours.nil? %>
                    </td>
                    <td class="remaining_hours_previous_week">
                        <%=  "%.2f" % @project.remaining_hours_previous_week unless @project.remaining_hours_previous_week.nil? %>
                    </td>
                    <td class="remaining_hours">
                        <%= "%.2f" % @project.remaining_hours unless @project.remaining_hours.nil? %>
                    </td>
                    <td class="delta_hours_previous_week">
                        <%= "%.2f" % @project.delta_hours_previous_week unless @project.delta_hours_previous_week.nil? %>
                    </td>
                    <td class="delta_hours">
                        <%= "%.2f" % @project.delta_hours unless @project.delta_hours.nil? %>
                    </td>
                    <td class="delta_hours_current_week">
                        <%= "%.2f" % @project.delta_hours_current_week unless @project.delta_hours_current_week.nil? %>
                    </td>
                    <td class="done_ratio">
                        <%= "%.2f" % @project.done_ratio unless @project.done_ratio.nil? %>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>