<div class="project_load_following">
    <h2><%= @project %></h2>
    <div class="autoscroll">
        <table class="list issues">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Sujet
                    </th>
                    <th>
                        Budget retenu
                    </th>
                    <th>
                        Charge initiale
                    </th>
                    <th>
                        Consommé cumulé à fin de sem-1
                    </th>
                    <th>
                        Consommé sur sem
                    </th>
                    <th>
                        Consommé cumulé à fin de sem
                    </th>
                    <th>
                        RAF à sem-1
                    </th>
                    <th>
                        RAF à fin de sem
                    </th>
                    <th>
                        Écart cumulé à fin sem-1
                    </th>
                    <th>
                        Écart cumulé à fin sem
                    </th>
                    <th>
                        Écart sur sem
                    </th>
                    <th>
                        % avancement global à fin sem
                    </th>
                </tr>
            </thead>
            <tbody>
                <% issue_list(@project.issues.order("#{Issue.table_name}.root_id", "#{Issue.table_name}.lft ASC")) do |issue, level| -%>
                  <%= render 'row', issue: issue, level: level %>
                <% end %>
                <% for subproject in @subprojects %>
                  <tr id="project-<%= h(subproject.id) %>" class="project parent">
                      <td class="id"></td>
                      <td class="subject">
                          <%= link_to(subproject, project_path(subproject)) %>
                      </td>
                      <td class="sold_hours">
                      </td>
                      <td class="estimated_hours">
                      </td>
                      <td class="total_spent_hours">
                      </td>
                      <td class="total_spent_hours">
                      </td>
                      <td class="total_spent_hours">
                      </td>
                      <td class="remaining_hours">
                      </td>
                      <td class="remaining_hours">
                      </td>
                      <td class="total_hours">
                      </td>
                      <td class="total_hours">
                      </td>
                      <td class="delta_hours">
                      </td>
                      <td class="done_ratio">
                      </td>
                  </tr>
                  <% issue_list(subproject.issues.order("#{Issue.table_name}.root_id", "#{Issue.table_name}.lft ASC")) do |issue, level| -%>
                    <%= render 'row', issue: issue, level: level+1 %>
                  <% end %>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <td class="id"></td>
                    <td class="subject">Totaux</td>
                    <td class="sold_hours">
                        <%= "%.2f" % @project.sold_hours  %>
                    </td>
                    <td class="estimated_hours">
                        <%= "%.2f" % @project.estimated_hours  %>
                    </td>
                    <td class="spent_hours_previous_week">
                        <%= "%.2f" % @project.spent_hours_previous_week  %>
                    </td>
                    <td class="spent_hours_current_week">
                        <%= "%.2f" % @project.spent_hours_current_week  %>
                    </td>
                    <td class="total_spent_hours">
                        <%= "%.2f" % @project.spent_hours  %>
                    </td>
                    <td class="remaining_hours">
                        <%=  "%.2f" % @project.remaining_hours  %>
                    </td>
                    <td class="remaining_hours">
                        <%= "%.2f" % @project.remaining_hours  %>
                    </td>
                    <td class="total_hours">
                        <%= "%.2f" % @project.total_hours  %>
                    </td>
                    <td class="total_hours">
                        <%= "%.2f" % @project.total_hours  %>
                    </td>
                    <td class="delta_hours">
                        <%= "%.2f" % @project.delta_hours  %>
                    </td>
                    <td class="done_ratio">
                        <%= "%.2f" % @project.done_ratio  %>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>